.container {
    padding-bottom: 50px;
}

footer {
	background: #eee;
	text-align: center;
	font-style: italic;
	padding-top: 20px;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* negative indent by footer height */
	margin: 0 auto -60px;
}

footer, #push {
	height: 60px;
}

pre.prettyprint {
	padding: 9.5px !important;
	border: 1px solid #ccc !important;
	background-color: #f5f5f5 !important;
}

i {
	width: 100%;
}