.container {
    padding-bottom: 50px;
}

footer {
	background: #ccc;
	text-align: center;
	font-style: italic;
}

html, body {
	height: 100%;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* negative indent by footer height */
	margin: 0 auto -60px;
}

footer, #push {
	height: 60px;
}