<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- css
  ================================================== -->
	<link rel="stylesheet" href="/assets/style.css" />

	<!-- js
  ================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.ucb.org.br/Scripts/tinysort/jquery.tinysort.js"></script>

	<!-- Bootstrap
  ================================================== -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>



	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
		<div class="row page-header">
			<h1>Raspberry Pi Guides
				<small>and also other guides</small>
			</h1>
		</div>

		<div class="row">
			<div id="sidebar" class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					{% for post in site.posts %}
						<li class="{{post.group}}">
							<time dateTime="{{post.date}}">
								<a href="{{ post.url }}">{{ post.title }}</a>
							</time>
						</li>
					{% endfor %}
				</ul>
				<a href="https://github.com/amonks/rpi-setup/">
					<button type="button" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-edit"></span> Source on Github
					</button>
				</a>
			</div>

			<div id="main" class="content col-md-9">
				<small id="date">
					{{ page.date | date: "%-d %B %Y" }}
				</small>
				{{ content }}
			</div>
		</div>	
		<div id="push"></div>
	</div>

	<footer>
		<p>
			by <a href="http://monks.co">Andrew Monks</a> &bull; released under the <a href="/license">MIT License</a>
		</p>
	</footer>

	<!-- End Document
================================================== -->
	<script src="/assets/ui.js"></script>

</body>

</html>
