<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap
  ================================================== -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>

<body>



    <!-- Primary Page Layout
	================================================== -->

    <div class="container">
        <div class="row">
            <div id="sidebar" class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                    {% for post in site.posts %}
                    <li>
                        <a href="{{ page.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                    <li class="menu-item-divided">
                        <a href="https://github.com/andrewjmonks/rpi-setup">Source</a>
                    </li>
                </ul>
            </div>

    		<div id="main" class="content col-md-9">
    			{{ content }}
    		</div>
        
        </div>

    </div>

    <!-- End Document
================================================== -->

</body>

</html>
